*~
.gradle
build
gen
bin
local.properties
.gradle
*.apk
.*.swp
/.classpath
/.project
.idea/
.settings/
Douban-Timeline-Android.iml
gen-external-apklibs/
target
classes/
./gitignore
project.properties
*.iml
.DS_Store
out/
